.top {
    background: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .img {
        width: 28PX;
        height: 28PX;
    }
    .right {
        .img {
            vertical-align: middle;
            margin-right: 15PX;
        }
    }
    .left {
        text-align: left;
        .img {
            vertical-align: middle;
            margin-left: 15PX;
        }
    }
}
